# dependencies
/node_modules

# next.js
/.next/
/out/

# build
/build

# coverage
/coverage

# environment
.env*

# datasets
*.csv
data/

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel

# misc
.DS_Store
*.pem

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*